{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}
{% load plinth_extras %}

{% if clients %}
  {% with client_platforms=clients|clients_get_platforms %}
    {% if client_platforms.web|length == 1 %}
      <a target='_blank' rel="noopener noreferrer"
         class="btn btn-primary" role="button" data-turbolinks="false"
         {% if not enabled %} disabled="disabled"
         {% else %} href="{{ client_platforms.web.0.url }}"
         {% endif %} data-turbolinks="false">
        {% trans "Launch web client" %}
        <span class="fa fa-external-link"></span>
      </a>
    {% endif %}

    {% if client_platforms.web|length > 1 or client_platforms.other %}
      <button type="button" data-toggle="collapse" data-target="#clients"
              class="btn btn-default collapsed collapsible-button">
        <span class="fa fa-chevron-right fa-fw" aria-hidden="true"></span>
        {% trans "Client Apps" %}
      </button>
    {% endif %}
  {% endwith %}
{% endif %}
