{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block page_head %}
  <style type="text/css">
    .repo-label {
        display: inline-block;
        width: 40%;
    }
    .repo-private-icon {
        margin: 4px 10px;
    }
    .list-group-item .btn {
        margin: -5px 2px;
    }
    .repo-cloning {
        margin: 0px 10px;
    }
  </style>
{% endblock %}

{% block configuration %}
  {{ block.super }}

  <h3>{% trans "Manage Repositories" %}</h3>

  <div class="btn-toolbar">
    <a href="{% url 'gitweb:create' %}" class="btn btn-default"
       role="button" title="{% trans 'Create repository' %}">
      <span class="fa fa-plus" aria-hidden="true"></span>
      {% trans 'Create repository' %}
    </a>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% if not repos %}
        <p>{% trans 'No repositories available.' %}</p>
      {% else %}
        <div id="gitweb-repo-list" class="list-group">
          {% for repo in repos %}
            <div class="list-group-item clearfix">
              <a href="{% url 'gitweb:delete' repo.name %}"
                class="btn btn-default btn-sm pull-right {% if 'clone_progress' in repo %} disabled {% endif %}"
                role="button"
                title="{% blocktrans %}Delete repository {{ repo.name }}{% endblocktrans %}">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
              </a>

              <a class="repo-edit btn btn-sm btn-default pull-right {% if 'clone_progress' in repo %} disabled {% endif %}"
                href="{% url 'gitweb:edit' repo.name %}">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
              </a>

              {% if repo.access == 'private' %}
                <span class="repo-private-icon fa fa-lock pull-right"
                      aria-label="private"></span>
              {% endif %}

              {% if 'clone_progress' in repo %}
                <span class="repo-cloning pull-right">
                    {% trans 'Cloning…' %} {{ repo.clone_progress }}%
                </span>
                <span class="repo-label">{{ repo.name }}<span>
              {% else %}
                <a class="repo-label" href="/gitweb/{{ repo.name }}.git"
                  data-turbolinks="false"
                  title="{% blocktrans %}Go to repository {{ repo.name }}{% endblocktrans %}">
                  {{ repo.name }}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}


{% block page_js %}

  {% if cloning %}
    <script type="text/javascript" src="{% static 'theme/js/refresh.js' %}"></script>
  {% endif %}

{% endblock %}
